/* font style */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

/* Utilities */
body {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}

/* navigation */
nav {
    background-color: rgba(255, 144, 14, 0.1);
}

.navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav {
    margin-right: 240px;
    margin-left: 240px;
}

.nav-title {
    font-size: 45px;
    font-weight: 700;
    color: black;
}

.nav-buttons {
    display: flex;
}

.nav-button {
    margin-right: 30px;
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 500;
}

.navigation-description {
    display: flex;
    flex-direction: column;
}

.navigation-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navigation-title {
    font-size: 64px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
    padding-right: 100px;
    padding-left: 100px;
}

.navigation-info p {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    text-align: center;
    margin-bottom: 32px;
    padding-right: 100px;
    padding-left: 100px;

}

.navigation-info button {
    color: #ffffff;
    background-color: #FF900E;
    padding: 15px;
    border: none;
    border-radius: 8px;
    margin-bottom: 50px;

}

.navigation-banner {
    width: 100%;
    overflow: hidden;
}

/* media queries mobile device */
@media screen and (max-width: 576px) {
    .navigation {
        flex-direction: column;
    }

    .nav-buttons {
        flex-direction: column;
    }

    .navigation-banner {
        width: 100%;
    }
}